Repository ezmode-games/rafters: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, unit-tests

lint:
  run: pnpm biome check --write {staged_files} || [ $? -eq 1 ]
  stage_fixed: true

typecheck:
  run: pnpm typecheck

unit-tests:
  run: "packages=$(echo \"{staged_files}\" | tr ' ' '\\n' | \\\n  grep -E '^(apps|packages)/' | \\\n  sed 's|^\\(apps/[^/]*\\).*|\\1|; s|^\\(packages/[^/]*\\).*|\\1|' | \\\n  sort -u)\n\nif [ -z \"$packages\" ]; then\n  echo \"No workspace packages changed\"\n  exit 0\nfi\n\necho \"Testing packages:\"
  ...

fix(changeset): valid config for CLI-only publishing
  .changeset/config.json
Due: lint

fix: rewrite release workflow to match kelex OIDC pattern
  .changeset/config.json
  .github/workflows/release.yml
Due: lint

fix: rewrite release workflow to match kelex OIDC pattern (#871)
  .changeset/config.json
  .github/workflows/release.yml
Due: lint

fix: clear NODE_AUTH_TOKEN for npm OIDC publishing (#872)
  .github/workflows/release.yml
Due: none

fix: remove registry-url to stop .npmrc from blocking OIDC
  .github/workflows/release.yml
Due: none

fix(cli): detect framework from config files and refresh on rebuild (#874)
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/detect.ts
  packages/cli/test/utils/detect.test.ts
Due: lint, typecheck, unit-tests

fix(cli): filter descriptive text from @dependencies JSDoc tags (#875)
  apps/website/src/lib/registry/componentService.ts
  apps/website/test/lib/componentService.test.ts
  packages/shared/src/component-intelligence.ts
  packages/shared/test/component-intelligence.test.ts
Due: lint, typecheck, unit-tests

fix(cli): resolve transitive component deps and include types.ts primitive (#876)
  apps/website/src/lib/registry/componentService.ts
  apps/website/test/lib/componentService.test.ts
  packages/shared/src/component-intelligence.ts
  packages/shared/test/component-intelligence.test.ts
Due: lint, typecheck, unit-tests

chore: add changeset for #875
  .changeset/fix-875-jsdoc-dependency-parsing.md
Due: none

chore: add changeset for #876
  .changeset/fix-876-transitive-component-deps.md
Due: none

fix(ui): reclassify internal primitive refs as @internal-dependencies
  packages/ui/src/primitives/block-wrapper.ts
  packages/ui/src/primitives/editor-toolbar.ts
Due: lint, typecheck, unit-tests

feat(ui): add AppliedRule type and rules field to EditorBlock (#885)
  packages/ui/src/components/ui/editor.tsx
  packages/ui/src/index.ts
Due: lint, typecheck, unit-tests

fix: format index.ts export for biome line length
  packages/ui/src/index.ts
Due: lint, typecheck, unit-tests

fix: remove stale typography exports, React deps, and test setup
  packages/composites/package.json
  packages/composites/tsconfig.json
  packages/composites/vitest.config.ts
  packages/composites/vitest.setup.ts
Due: lint, typecheck, unit-tests

feat(ui): add AppliedRule type and rules field to EditorBlock (#906)
  packages/composites/src/manifest.ts
  packages/ui/src/components/ui/editor.tsx
  packages/ui/src/index.ts
Due: lint, typecheck, unit-tests

feat(composites): replace TSX composites with JSON CompositeFileSchema (#908)
  packages/composites/package.json
  packages/composites/src/index.ts
  packages/composites/src/manifest.ts
  packages/composites/src/registry.ts
  packages/composites/src/typography/blockquote.tsx
  packages/composites/src/typography/heading.tsx
  packages/composites/src/typography/index.ts
  packages/composites/src/typography/list.tsx
  packages/composites/src/typography/paragraph.tsx
  packages/composites/test/manifest.test.ts
  packages/composites/test/registry.test.ts
  packages/composites/test/typography.a11y.tsx
  packages/composites/test/typography.test.tsx
  packages/composites/tsconfig.json
  packages/composites/vitest.config.ts
  packages/composites/vitest.setup.ts
  pnpm-lock.yaml
Due: lint, typecheck, unit-tests

feat(composites): add bridge utilities for palette display (#909)
  packages/composites/src/bridge.ts
  packages/composites/src/index.ts
  packages/composites/test/bridge.test.ts
Due: lint, typecheck, unit-tests

feat(composites): add JSON-to-MDX serializer (#910)
  packages/composites/src/bridge.ts
  packages/composites/src/index.ts
  packages/composites/src/registry.ts
  packages/composites/src/serializer.ts
  packages/composites/test/serializer.test.ts
Due: lint, typecheck, unit-tests

feat(composites): add rule name matching for I/O compatibility
  packages/composites/src/index.ts
  packages/composites/src/rules.ts
  packages/composites/test/rules.test.ts
Due: lint, typecheck, unit-tests

feat(composites): add rule name matching for I/O compatibility (#911)
  packages/composites/src/index.ts
  packages/composites/src/rules.ts
  packages/composites/test/rules.test.ts
Due: lint, typecheck, unit-tests

fix: ignore all non-CLI packages in changeset config
  .changeset/config.json
  apps/website/CHANGELOG.md
  apps/website/package.json
Due: lint

feat(composites): add folder loader for .composite.json files (#912)
  packages/composites/src/index.ts
  packages/composites/src/loader.ts
  packages/composites/test/loader.test.ts
Due: lint, typecheck, unit-tests

feat(composites): add built-in rule stubs
  packages/composites/src/built-in-rules/credentials.ts
  packages/composites/src/built-in-rules/email.ts
  packages/composites/src/built-in-rules/index.ts
  packages/composites/src/built-in-rules/password.ts
  packages/composites/src/built-in-rules/required.ts
  packages/composites/src/built-in-rules/url.ts
  packages/composites/src/index.ts
  packages/composites/test/built-in-rules.test.ts
Due: lint, typecheck, unit-tests

fix: ignore all non-CLI packages in changeset config (#914)
  .changeset/config.json
  apps/website/CHANGELOG.md
  apps/website/package.json
Due: lint

feat(ui): add onItemInsert and deselect to Editor component
  packages/ui/src/components/ui/editor.tsx
Due: lint, typecheck, unit-tests

feat(ui): add onItemInsert and deselect to Editor component (#916)
  packages/ui/src/components/ui/editor.tsx
Due: lint, typecheck, unit-tests

fix: biome formatting for composite JSON files and EditorPlayground
  apps/demo/src/components/demos/EditorPlayground.tsx
  apps/demo/src/composites/cta-section.composite.json
  apps/demo/src/composites/feature-grid.composite.json
  apps/demo/src/composites/hero-banner.composite.json
  apps/demo/src/composites/login-form.composite.json
  apps/demo/src/composites/testimonial.composite.json
Due: lint, typecheck, unit-tests

fix: sort imports in EditorPlayground to satisfy biome lint
  apps/demo/src/components/demos/EditorPlayground.tsx
Due: lint, typecheck, unit-tests

feat(composites): add CLI support for composites registry (#920)
  apps/website/src/lib/registry/componentService.ts
  apps/website/src/pages/registry/composites/[name].json.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/registry/client.ts
  packages/cli/src/registry/types.ts
  packages/cli/test/commands/add.test.ts
  packages/cli/test/mcp/tools.test.ts
  packages/ui/src/composites/feature-grid.composite.json
  packages/ui/src/composites/hero-banner.composite.json
  packages/ui/src/composites/login-form.composite.json
Due: lint, typecheck, unit-tests

feat(ui): integrate rule palette into editor with tabbed sidebar and config dialog
  packages/ui/src/components/ui/editor.tsx
  packages/ui/src/index.ts
  packages/ui/src/primitives/rule-dialog.ts
  packages/ui/test/primitives/rule-dialog.test.ts
Due: lint, typecheck, unit-tests

fix(ui): resolve lint errors in container test blocking CI
  packages/ui/test/components/container.test.tsx
Due: lint, typecheck, unit-tests

fix: sync RegistryItem and RegistryIndex with rules and composites fields (#903)
  apps/website/src/lib/registry/componentService.ts
  packages/cli/src/registry/types.ts
Due: lint, typecheck, unit-tests

refactor: simplify instantiateBlocks and addBlock/addBlocks
  packages/composites/src/bridge.ts
  packages/ui/src/components/ui/editor.tsx
Due: lint, typecheck, unit-tests

fix: address PR review findings for composite expansion
  packages/composites/src/bridge.ts
  packages/composites/test/bridge.test.ts
Due: lint, typecheck, unit-tests

feat(composites): add built-in typography composites (#921)
  packages/composites/src/typography/blockquote.composite.json
  packages/composites/src/typography/heading.composite.json
  packages/composites/src/typography/list.composite.json
  packages/composites/src/typography/paragraph.composite.json
  packages/composites/test/typography.test.ts
Due: lint, typecheck, unit-tests

feat(ui): add block context menu primitive with editor integration
  packages/ui/src/components/ui/editor.tsx
  packages/ui/src/primitives/block-context-menu.ts
  packages/ui/test/primitives/block-context-menu.test.ts
Due: lint, typecheck, unit-tests

fix: format editor.tsx for biome
  packages/ui/src/components/ui/editor.tsx
Due: lint, typecheck, unit-tests

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
  unit-tests: any of: *.{ts,tsx}
