Repository ezmode-games/rafters: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, unit-tests

lefthook.yml:

# Pre-commit hook: Fast checks (target <30s)
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: pnpm biome check --write {staged_files} || [ $? -eq 1 ]
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    unit-tests:
      glob: "*.{ts,tsx}"
      run: |
        packages=$(echo "{staged_files}" | tr ' ' '\n' | \
          grep -E '^(apps|packages)/' | \
          sed 's|^\(apps/[^/]*\).*|\1|; s|^\(packages/[^/]*\).*|\1|' | \
          sort -u)

        if [ -z "$packages" ]; then
          echo "No workspace packages changed"
          exit 0
        fi

        echo "Testing packages:"
        echo "$packages" | sed 's/^/  - /'

        for pkg_path in $packages; do
          pkg_name=$(grep -oP '"name":\s*"\K[^"]+' "$pkg_path/package.json" 2>/dev/null)
          if [ -n "$pkg_name" ]; then
            echo "Running tests for $pkg_name..."
            pnpm --filter "$pkg_name" test:unit --run || exit 1
          fi
        done

# Pre-push hook: Full validation (target <5min)
pre-push:
  parallel: false
  commands:
    preflight:
      run: pnpm preflight

fix(design-tokens): use ColorPaletteBase type and add tests (#553)
  packages/design-tokens/src/generators/index.ts
  packages/design-tokens/test/generators.test.ts
Due: lint, typecheck, unit-tests

docs(serena): update memories with latest project state
  .serena/memories/architecture.md
  .serena/memories/code_style.md
  .serena/memories/project_overview.md
Due: none

fix: lint and accessibility issues for preflight
  apps/demo/src/components/demos/ButtonDemo.tsx
  apps/demo/src/components/demos/EmptyDemo.tsx
  apps/demo/src/components/demos/ToggleDemo.tsx
  apps/demo/src/styles/global.backup.css
  biome.json
  packages/design-tokens/src/generators/index.ts
  packages/design-tokens/test/generators.test.ts
  packages/ui/src/components/ui/slider.tsx
Due: lint, typecheck, unit-tests

refactor(design-tokens): derive all generator values from base config
  packages/design-tokens/src/generators/focus.ts
  packages/design-tokens/src/generators/motion.ts
  packages/design-tokens/src/generators/shadow.ts
  packages/ui/src/components/ui/slider.tsx
Due: lint, typecheck, unit-tests

docs(claude): restore project rules deleted during prototyping
  CLAUDE.md
Due: none

fix(ui): replace skipped portal tests with actual coverage
  packages/ui/test/primitives/portal.test.ts
Due: lint, typecheck, unit-tests

fix(ui): replace arbitrary values with design system tokens
  packages/ui/src/components/ui/alert.tsx
  packages/ui/src/components/ui/scroll-area.tsx
  packages/ui/src/components/ui/table.tsx
Due: lint, typecheck, unit-tests

fix(demo): commit generated theme files for CI
  .gitignore
  apps/demo/.rafters/output/theme.css
  apps/demo/.rafters/output/tokens.json
  apps/demo/.rafters/output/tokens.ts
  apps/demo/.rafters/tokens/breakpoint.rafters.json
  apps/demo/.rafters/tokens/color.rafters.json
  apps/demo/.rafters/tokens/depth.rafters.json
  apps/demo/.rafters/tokens/elevation.rafters.json
  apps/demo/.rafters/tokens/focus.rafters.json
  apps/demo/.rafters/tokens/motion.rafters.json
  apps/demo/.rafters/tokens/radius.rafters.json
  apps/demo/.rafters/tokens/semantic.rafters.json
  apps/demo/.rafters/tokens/shadow.rafters.json
  apps/demo/.rafters/tokens/spacing.rafters.json
  apps/demo/.rafters/tokens/typography.rafters.json
Due: lint, typecheck, unit-tests

fix(biome): exclude generated .rafters files from linting
  biome.json
Due: lint

docs(serena): update memories with latest project state (#554)
  .gitignore
  .serena/memories/architecture.md
  .serena/memories/code_style.md
  .serena/memories/project_overview.md
  CLAUDE.md
  apps/demo/.rafters/output/theme.css
  apps/demo/.rafters/output/tokens.json
  apps/demo/.rafters/output/tokens.ts
  apps/demo/.rafters/tokens/breakpoint.rafters.json
  apps/demo/.rafters/tokens/color.rafters.json
  apps/demo/.rafters/tokens/depth.rafters.json
  apps/demo/.rafters/tokens/elevation.rafters.json
  apps/demo/.rafters/tokens/focus.rafters.json
  apps/demo/.rafters/tokens/motion.rafters.json
  apps/demo/.rafters/tokens/radius.rafters.json
  apps/demo/.rafters/tokens/semantic.rafters.json
  apps/demo/.rafters/tokens/shadow.rafters.json
  apps/demo/.rafters/tokens/spacing.rafters.json
  apps/demo/.rafters/tokens/typography.rafters.json
  apps/demo/src/components/demos/ButtonDemo.tsx
  apps/demo/src/components/demos/EmptyDemo.tsx
  apps/demo/src/components/demos/ToggleDemo.tsx
  apps/demo/src/styles/global.backup.css
  biome.json
  packages/design-tokens/src/generators/focus.ts
  packages/design-tokens/src/generators/index.ts
  packages/design-tokens/src/generators/motion.ts
  packages/design-tokens/src/generators/shadow.ts
  packages/design-tokens/test/generators.test.ts
  packages/ui/src/components/ui/alert.tsx
  packages/ui/src/components/ui/scroll-area.tsx
  packages/ui/src/components/ui/slider.tsx
  packages/ui/src/components/ui/table.tsx
  packages/ui/test/primitives/portal.test.ts
Due: lint, typecheck, unit-tests

fix(ui): replace sidebar arbitrary values with design system tokens
  packages/ui/src/components/ui/sidebar.tsx
  packages/ui/test/components/sidebar.test.tsx
Due: lint, typecheck, unit-tests

fix(ui): replace sidebar arbitrary values with design system tokens (#556)
  packages/ui/src/components/ui/sidebar.tsx
  packages/ui/test/components/sidebar.test.tsx
Due: lint, typecheck, unit-tests

feat(registry): restore JSDoc intelligence parser (#548)
  apps/website/package.json
  apps/website/src/lib/registry/componentService.ts
  apps/website/test/lib/componentService.test.ts
  pnpm-lock.yaml
Due: lint, typecheck, unit-tests

feat(registry): restore JSDoc intelligence parser (#548) (#557)
  apps/website/package.json
  apps/website/src/lib/registry/componentService.ts
  apps/website/test/lib/componentService.test.ts
  pnpm-lock.yaml
Due: lint, typecheck, unit-tests

fix(color-utils): use brightness-based luminosity words (#551)
  apps/api/test/routes/color/color.test.ts
  packages/color-utils/src/naming/generator.ts
  packages/color-utils/src/naming/index.ts
  packages/color-utils/src/naming/word-banks.ts
  packages/color-utils/test/naming.test.ts
Due: lint, typecheck, unit-tests

fix(color-utils): use brightness-based luminosity words (#551) (#558)
  apps/api/test/routes/color/color.test.ts
  packages/color-utils/src/naming/generator.ts
  packages/color-utils/src/naming/index.ts
  packages/color-utils/src/naming/word-banks.ts
  packages/color-utils/test/naming.test.ts
Due: lint, typecheck, unit-tests

ops(api): add script to regenerate Vectorize color names (#559)
  apps/api/package.json
  apps/api/src/scripts/regenerate-color-names.ts
Due: lint, typecheck, unit-tests

fix(api): address PR feedback on regeneration script
  apps/api/src/scripts/regenerate-color-names.ts
Due: lint, typecheck, unit-tests

ops(api): add script to regenerate Vectorize color names (#559) (#560)
  apps/api/package.json
  apps/api/src/scripts/regenerate-color-names.ts
Due: lint, typecheck, unit-tests

fix(api): remove Zod validation from migration script
  apps/api/src/scripts/regenerate-color-names.ts
Due: lint, typecheck, unit-tests

feat(ui): auto-portal PopoverContent for true shadcn drop-in
  packages/ui/src/components/ui/popover.tsx
Due: lint, typecheck, unit-tests

test(ui): add auto-portal tests for Popover shadcn drop-in
  packages/ui/src/components/ui/popover.tsx
  packages/ui/test/components/popover.test.tsx
Due: lint, typecheck, unit-tests

feat(ui): auto-portal PopoverContent for true shadcn drop-in (#561)
  packages/ui/src/components/ui/popover.tsx
  packages/ui/test/components/popover.test.tsx
Due: lint, typecheck, unit-tests

feat(cli): add MCP tools for component intelligence and design decisions
  packages/cli/src/mcp/tools.ts
  packages/cli/test/mcp/tools.test.ts
  packages/shared/package.json
  packages/shared/src/component-intelligence.ts
  packages/shared/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, typecheck, unit-tests

refactor(cli): redesign MCP to 3 design-focused tools
  apps/website/src/content/docs/foundation/mcp-server.mdx
  packages/cli/src/mcp/tools.ts
  packages/cli/test/mcp/tools.test.ts
  packages/shared/src/component-intelligence.ts
  packages/shared/test/component-intelligence.test.ts
Due: lint, typecheck, unit-tests

feat(cli): add MCP tools for component intelligence and design decisions (#562)
  apps/website/src/content/docs/foundation/mcp-server.mdx
  packages/cli/src/mcp/tools.ts
  packages/cli/test/mcp/tools.test.ts
  packages/shared/package.json
  packages/shared/src/component-intelligence.ts
  packages/shared/src/index.ts
  packages/shared/test/component-intelligence.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, typecheck, unit-tests

feat(api): add nearest-neighbor fallback for color cache misses (#552)
  apps/api/src/routes/color/color.handlers.ts
  apps/api/src/routes/color/color.routes.ts
  apps/api/wrangler.jsonc
Due: lint, typecheck, unit-tests

feat(studio): add package scaffold and token API (#564, #565)
  packages/cli/src/commands/studio.ts
  packages/studio/index.html
  packages/studio/package.json
  packages/studio/src/App.tsx
  packages/studio/src/api/token-loader.ts
  packages/studio/src/api/vite-plugin.ts
  packages/studio/src/components/Header.tsx
  packages/studio/src/components/Sidebar.tsx
  packages/studio/src/components/TokenEditor.tsx
  packages/studio/src/hooks/useTokens.ts
  packages/studio/src/main.tsx
  packages/studio/src/styles/global.css
  packages/studio/src/types.ts
  packages/studio/src/utils/token-display.ts
  packages/studio/src/vite-env.d.ts
  packages/studio/tsconfig.json
  packages/studio/vite.config.ts
  pnpm-lock.yaml
Due: lint, typecheck, unit-tests

feat(studio): add live token preview in context (#566)
  packages/studio/src/App.tsx
  packages/studio/src/components/Preview.tsx
  packages/studio/src/components/TokenEditor.tsx
  packages/studio/src/components/TokenGrid.tsx
Due: lint, typecheck, unit-tests

feat(studio): add full spectrum color picker (#567)
  packages/studio/package.json
  packages/studio/src/components/SpectrumPicker.tsx
  packages/studio/src/components/TokenEditor.tsx
  packages/studio/src/hooks/useColorPicker.ts
  packages/studio/src/utils/color-conversion.ts
  pnpm-lock.yaml
Due: lint, typecheck, unit-tests

feat(studio): add save with reason for AI context (#568)
  packages/studio/src/App.tsx
  packages/studio/src/api/token-loader.ts
  packages/studio/src/api/vite-plugin.ts
  packages/studio/src/api/write-queue.ts
  packages/studio/src/components/TokenEditor.tsx
  packages/studio/src/hooks/useTokenSave.ts
Due: lint, typecheck, unit-tests

feat(studio): add non-color token editors (#569)
  packages/studio/src/components/MotionEditor.tsx
  packages/studio/src/components/SpacingEditor.tsx
  packages/studio/src/components/TokenEditor.tsx
Due: lint, typecheck, unit-tests

feat(studio): add package scaffold and token API (#564, #565) (#571)
  packages/cli/src/commands/studio.ts
  packages/studio/index.html
  packages/studio/package.json
  packages/studio/src/App.tsx
  packages/studio/src/api/token-loader.ts
  packages/studio/src/api/vite-plugin.ts
  packages/studio/src/api/write-queue.ts
  packages/studio/src/components/Header.tsx
  packages/studio/src/components/MotionEditor.tsx
  packages/studio/src/components/Preview.tsx
  packages/studio/src/components/Sidebar.tsx
  packages/studio/src/components/SpacingEditor.tsx
  packages/studio/src/components/SpectrumPicker.tsx
  packages/studio/src/components/TokenEditor.tsx
  packages/studio/src/components/TokenGrid.tsx
  packages/studio/src/hooks/useColorPicker.ts
  packages/studio/src/hooks/useTokenSave.ts
  packages/studio/src/hooks/useTokens.ts
  packages/studio/src/main.tsx
  packages/studio/src/styles/global.css
  packages/studio/src/types.ts
  packages/studio/src/utils/color-conversion.ts
  packages/studio/src/utils/token-display.ts
  packages/studio/src/vite-env.d.ts
  packages/studio/tsconfig.json
  packages/studio/vite.config.ts
  pnpm-lock.yaml
Due: lint, typecheck, unit-tests

feat(commands): add structured documentation for user research and test generation
  .claude/commands/analyze-code.md
  .claude/commands/mockup.md
  .claude/commands/plan.md
  .claude/commands/roadmap.md
  .claude/commands/track-bug.md
  .claude/commands/track-idea.md
  .claude/commands/track.md
  .claude/commands/user-research.md
  .claude/commands/write-tests.md
Due: none

feat(release): add changesets and npm OIDC publishing workflow
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

Update .changeset/config.json
  .changeset/config.json
Due: lint

feat(release): add changesets and npm OIDC publishing workflow (#572)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

fix(release): add all non-published packages to changesets ignore
  .changeset/config.json
Due: lint

fix(release): remove ignore list from changesets config
  .changeset/config.json
Due: lint

fix(release): mark non-publishable packages as private
  apps/api/package.json
  apps/demo/package.json
  apps/website/package.json
  packages/color-utils/package.json
  packages/design-tokens/package.json
  packages/math-utils/package.json
  packages/shared/package.json
  packages/ui/package.json
Due: lint
