Repository ezmode-games/rafters: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, unit-tests

lefthook.yml:

# Pre-commit hook: Fast checks (target <30s)
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: pnpm biome check --write {staged_files} || [ $? -eq 1 ]
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    unit-tests:
      glob: "*.{ts,tsx}"
      run: |
        packages=$(echo "{staged_files}" | tr ' ' '\n' | \
          grep -E '^(apps|packages)/' | \
          sed 's|^\(apps/[^/]*\).*|\1|; s|^\(packages/[^/]*\).*|\1|' | \
          sort -u)

        if [ -z "$packages" ]; then
          echo "No workspace packages changed"
          exit 0
        fi

        echo "Testing packages:"
        echo "$packages" | sed 's/^/  - /'

        for pkg_path in $packages; do
          pkg_name=$(grep -oP '"name":\s*"\K[^"]+' "$pkg_path/package.json" 2>/dev/null)
          if [ -n "$pkg_name" ]; then
            echo "Running tests for $pkg_name..."
            pnpm --filter "$pkg_name" test:unit --run || exit 1
          fi
        done

# Pre-push hook: Full validation (target <5min)
pre-push:
  parallel: false
  commands:
    preflight:
      run: pnpm preflight

feat(ui): add accessibility tests for List, CodeBlock, Mark, Abbr (R-200)
  packages/ui/test/components/typography.a11y.tsx
  packages/ui/vitest.config.ts
Due: lint, typecheck, unit-tests

feat(ui): add List, CodeBlock, Mark, Abbr typography components (R-200c, R-200e)
  packages/ui/src/components/ui/typography.tsx
  packages/ui/test/components/typography.test.tsx
Due: lint, typecheck, unit-tests

fix(ui): biome lint and format fixes
  packages/ui/src/components/ui/typography.tsx
  packages/ui/test/components/typography.a11y.tsx
Due: lint, typecheck, unit-tests

fix: wrap test commands with mutex to prevent parallel Vitest crashes
  package.json
Due: lint

Update packages/ui/src/components/ui/typography.tsx
  packages/ui/src/components/ui/typography.tsx
Due: lint, typecheck, unit-tests

refactor(ui): remove useEffect from InlineToolbar
  packages/ui/src/components/editor/InlineToolbar.tsx
Due: lint, typecheck, unit-tests

feat(docs-rs): add Rust-powered documentation generator (#650)
  .github/workflows/rust.yml
  .gitignore
  lefthook.yml
  packages/docs-rs/.cargo/config.toml
  packages/docs-rs/Cargo.lock
  packages/docs-rs/Cargo.toml
  packages/docs-rs/README.md
  packages/docs-rs/crates/rafters-adapters/Cargo.toml
  packages/docs-rs/crates/rafters-adapters/src/generator.rs
  packages/docs-rs/crates/rafters-adapters/src/lib.rs
  packages/docs-rs/crates/rafters-adapters/src/react.rs
  packages/docs-rs/crates/rafters-adapters/src/traits.rs
  packages/docs-rs/crates/rafters-docs/Cargo.toml
  packages/docs-rs/crates/rafters-docs/src/commands/build.rs
  packages/docs-rs/crates/rafters-docs/src/commands/dev.rs
  packages/docs-rs/crates/rafters-docs/src/commands/init.rs
  packages/docs-rs/crates/rafters-docs/src/commands/mod.rs
  packages/docs-rs/crates/rafters-docs/src/commands/serve.rs
  packages/docs-rs/crates/rafters-docs/src/main.rs
  packages/docs-rs/crates/rafters-mdx/Cargo.toml
  packages/docs-rs/crates/rafters-mdx/src/codeblock.rs
  packages/docs-rs/crates/rafters-mdx/src/frontmatter.rs
  packages/docs-rs/crates/rafters-mdx/src/lib.rs
  packages/docs-rs/crates/rafters-mdx/src/parser.rs
  packages/docs-rs/crates/rafters-server/Cargo.toml
  packages/docs-rs/crates/rafters-server/src/lib.rs
  packages/docs-rs/crates/rafters-server/src/server.rs
  packages/docs-rs/crates/rafters-server/src/watcher.rs
  packages/docs-rs/crates/rafters-server/src/websocket.rs
  packages/docs-rs/crates/rafters-static/Cargo.toml
  packages/docs-rs/crates/rafters-static/src/assets.rs
  packages/docs-rs/crates/rafters-static/src/builder.rs
  packages/docs-rs/crates/rafters-static/src/lib.rs
  packages/docs-rs/crates/rafters-static/src/templates.rs
  packages/docs-rs/docs/ARCHITECTURE.md
  packages/docs-rs/docs/DEVELOPER.md
  packages/docs-rs/docs/USER_GUIDE.md
  packages/docs-rs/rust-toolchain.toml
Due: none

fix(ui): exclude broken a11y tests from vitest, keep typography a11y
  .serena/memories/editor-audit.md
  packages/ui/test/components/typography-a11y.test.tsx
  packages/ui/vitest.config.ts
Due: lint, typecheck, unit-tests

feat(ui): add List, CodeBlock, Mark, Abbr typography components (R-200c, R-200e) (#649)
  .serena/memories/editor-audit.md
  package.json
  packages/ui/src/components/editor/InlineToolbar.tsx
  packages/ui/src/components/ui/typography.tsx
  packages/ui/test/components/typography-a11y.test.tsx
  packages/ui/test/components/typography.test.tsx
Due: lint, typecheck, unit-tests

fix(ui): ensure 44x44px minimum target size for editor controls (#651)
  packages/ui/src/components/editor/BlockSidebar.tsx
  packages/ui/src/components/editor/BlockWrapper.tsx
  packages/ui/src/components/editor/EditorToolbar.tsx
  packages/ui/src/components/editor/InlineToolbar.tsx
Due: lint, typecheck, unit-tests

fix(ui): migrate hardcoded colors to semantic design tokens (#652)
  packages/ui/src/components/editor/BlockSidebar.tsx
  packages/ui/src/components/editor/BlockWrapper.tsx
Due: lint, typecheck, unit-tests

fix(ui): correct ARIA role and attribute inconsistencies (#653)
  packages/ui/src/components/editor/BlockCanvas.tsx
  packages/ui/src/components/editor/BlockWrapper.tsx
  packages/ui/src/components/editor/CommandPaletteUI.tsx
  packages/ui/src/components/editor/PropertyEditor.tsx
Due: lint, typecheck, unit-tests

fix(ui): refactor PropertyEditor for React 19 purity (#654)
  packages/ui/src/components/editor/PropertyEditor.tsx
Due: lint, typecheck, unit-tests

fix(ui): fix SSR guard bug in inline-formatter (#655)
  packages/ui/src/primitives/inline-formatter.ts
Due: lint, typecheck, unit-tests

feat(docs-rs): add inline JSX transform and component registry
  .github/workflows/release-docs-rs.yml
  apps/docs/assets/styles.css
  apps/docs/docs.toml
  apps/docs/docs/components/button.mdx
  apps/docs/docs/index.mdx
  apps/docs/package.json
  packages/docs-rs/Cargo.lock
  packages/docs-rs/Cargo.toml
  packages/docs-rs/crates/rafters-adapters/Cargo.toml
  packages/docs-rs/crates/rafters-adapters/src/generator.rs
  packages/docs-rs/crates/rafters-adapters/src/inline.rs
  packages/docs-rs/crates/rafters-adapters/src/lib.rs
  packages/docs-rs/crates/rafters-adapters/src/react.rs
  packages/docs-rs/crates/rafters-adapters/src/registry.rs
  packages/docs-rs/crates/rafters-docs/src/commands/build.rs
  packages/docs-rs/crates/rafters-docs/src/commands/serve.rs
  packages/docs-rs/crates/rafters-docs/src/main.rs
  packages/docs-rs/crates/rafters-static/Cargo.toml
  packages/docs-rs/crates/rafters-static/src/builder.rs
  packages/docs-rs/crates/rafters-static/src/templates.rs
Due: lint

feat(cli): add export format selection to init command
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/exports.ts
  packages/cli/src/utils/ui.ts
  pnpm-lock.yaml
Due: lint, typecheck, unit-tests

fix(ui): resolve a11y test memory issues and fix accessibility bugs
  package.json
  packages/cli/src/commands/studio.ts
  packages/cli/test/steps/helpers.ts
  packages/ui/package.json
  packages/ui/src/components/ui/context-menu.tsx
  packages/ui/src/components/ui/dropdown-menu.tsx
  packages/ui/src/components/ui/item.tsx
  packages/ui/src/components/ui/menubar.tsx
  packages/ui/src/components/ui/progress.tsx
  packages/ui/src/components/ui/slider.tsx
  packages/ui/test/components/aspect-ratio.a11y.tsx
  packages/ui/test/components/drawer.a11y.tsx
  packages/ui/test/components/empty.a11y.tsx
  packages/ui/test/components/hover-card.a11y.tsx
  packages/ui/test/components/item.a11y.tsx
  packages/ui/test/components/navigation-menu.a11y.tsx
  packages/ui/test/components/pagination.a11y.tsx
  packages/ui/test/components/progress.test.tsx
  packages/ui/test/components/select.a11y.tsx
  packages/ui/test/components/sheet.a11y.tsx
  packages/ui/test/components/typography.a11y.tsx
  packages/ui/vitest.config.ts
Due: lint, typecheck, unit-tests

fix(cli): resolve test failures in add, init, and studio commands
  packages/cli/playwright.config.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/studio.ts
  packages/cli/src/index.ts
  packages/cli/src/registry/client.ts
  packages/cli/src/utils/ui.ts
  packages/cli/test/steps/common.steps.ts
  packages/cli/test/steps/helpers.ts
Due: lint, typecheck, unit-tests

fix(ui): add biome-ignore for noStaticElementInteractions
  packages/ui/src/components/editor/BlockWrapper.tsx
Due: lint, typecheck, unit-tests

fix(ui): update BlockWrapper tests for semantic tokens
  packages/ui/test/components/editor/BlockWrapper.test.tsx
Due: lint, typecheck, unit-tests

chore: sync pnpm lockfile
  pnpm-lock.yaml
Due: none

chore: sync lockfile and format Rust code
  packages/docs-rs/crates/rafters-adapters/src/generator.rs
  packages/docs-rs/crates/rafters-adapters/src/inline.rs
  packages/docs-rs/crates/rafters-static/src/builder.rs
  pnpm-lock.yaml
Due: none

fix(cli): output JSON for --list in agent mode
  packages/cli/src/commands/add.ts
Due: lint, typecheck, unit-tests

fix(ui): update tests for new ARIA patterns
  packages/ui/test/components/editor/BlockWrapper.test.tsx
  packages/ui/test/components/editor/PropertyEditor.test.tsx
Due: lint, typecheck, unit-tests

chore: fix Biome linting issues
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/exports.ts
Due: lint, typecheck, unit-tests

fix(cli): address review comments for export init
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/exports.ts
  packages/cli/src/utils/ui.ts
Due: lint, typecheck, unit-tests

fix(docs-rs): address review comments
  .github/workflows/release-docs-rs.yml
  apps/docs/docs/components/button.mdx
  packages/docs-rs/crates/rafters-adapters/src/generator.rs
  packages/docs-rs/crates/rafters-adapters/src/inline.rs
  packages/docs-rs/crates/rafters-adapters/src/registry.rs
  packages/docs-rs/crates/rafters-docs/src/commands/build.rs
  packages/docs-rs/crates/rafters-static/src/builder.rs
Due: none

fix(ui): ensure 44x44px minimum target size for editor controls (#651) (#657)
  packages/ui/src/components/editor/BlockSidebar.tsx
  packages/ui/src/components/editor/BlockWrapper.tsx
  packages/ui/src/components/editor/EditorToolbar.tsx
  packages/ui/src/components/editor/InlineToolbar.tsx
Due: lint, typecheck, unit-tests

fix(ui): migrate hardcoded colors to semantic design tokens (#652) (#658)
  packages/ui/src/components/editor/BlockSidebar.tsx
  packages/ui/src/components/editor/BlockWrapper.tsx
  packages/ui/test/components/editor/BlockWrapper.test.tsx
Due: lint, typecheck, unit-tests

fix(ui): correct ARIA role and attribute inconsistencies (#653) (#659)
  packages/ui/src/components/editor/BlockCanvas.tsx
  packages/ui/src/components/editor/BlockWrapper.tsx
  packages/ui/src/components/editor/CommandPaletteUI.tsx
  packages/ui/src/components/editor/PropertyEditor.tsx
  packages/ui/test/components/editor/BlockWrapper.test.tsx
  packages/ui/test/components/editor/PropertyEditor.test.tsx
Due: lint, typecheck, unit-tests

fix(cli): fix TypeScript error in package manager detection
  packages/cli/src/utils/exports.ts
Due: lint, typecheck, unit-tests

fix(docs): add @tailwindcss/cli for Tailwind v4 build
  apps/docs/package.json
  pnpm-lock.yaml
Due: lint

fix(cli): correct studio package path calculation
  packages/cli/src/commands/studio.ts
Due: lint, typecheck, unit-tests

test(ui): add test for SSR error in deserializeToDOM
  packages/ui/test/primitives/inline-formatter.test.ts
Due: lint, typecheck, unit-tests

fix(ui): implement specification pattern for PropertyEditor
  packages/ui/src/components/editor/PropertyEditor.tsx
  packages/ui/test/components/editor/PropertyEditor.test.tsx
Due: lint, typecheck, unit-tests

fix(ui): refactor PropertyEditor for React 19 purity (#654) (#660)
  packages/ui/src/components/editor/PropertyEditor.tsx
  packages/ui/test/components/editor/PropertyEditor.test.tsx
Due: lint, typecheck, unit-tests

feat(docs-rs): add inline JSX transform and component registry (#662)
  .github/workflows/release-docs-rs.yml
  apps/docs/assets/styles.css
  apps/docs/docs.toml
  apps/docs/docs/components/button.mdx
  apps/docs/docs/index.mdx
  apps/docs/package.json
  packages/docs-rs/Cargo.lock
  packages/docs-rs/Cargo.toml
  packages/docs-rs/crates/rafters-adapters/Cargo.toml
  packages/docs-rs/crates/rafters-adapters/src/generator.rs
  packages/docs-rs/crates/rafters-adapters/src/inline.rs
  packages/docs-rs/crates/rafters-adapters/src/lib.rs
  packages/docs-rs/crates/rafters-adapters/src/react.rs
  packages/docs-rs/crates/rafters-adapters/src/registry.rs
  packages/docs-rs/crates/rafters-docs/src/commands/build.rs
  packages/docs-rs/crates/rafters-docs/src/commands/serve.rs
  packages/docs-rs/crates/rafters-docs/src/main.rs
  packages/docs-rs/crates/rafters-static/Cargo.toml
  packages/docs-rs/crates/rafters-static/src/builder.rs
  packages/docs-rs/crates/rafters-static/src/templates.rs
  pnpm-lock.yaml
Due: lint

fix(ui): fix SSR guard bug in inline-formatter (#655) (#661)
  packages/ui/src/primitives/inline-formatter.ts
  packages/ui/test/primitives/inline-formatter.test.ts
Due: lint, typecheck, unit-tests

feat(cli): add export format selection to init command (#664)
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/exports.ts
  packages/cli/src/utils/ui.ts
  pnpm-lock.yaml
Due: lint, typecheck, unit-tests

fix(cli): resolve test failures in add, init, and studio commands (#665)
  packages/cli/playwright.config.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/studio.ts
  packages/cli/src/index.ts
  packages/cli/src/registry/client.ts
  packages/cli/src/utils/ui.ts
  packages/cli/test/steps/common.steps.ts
  packages/cli/test/steps/helpers.ts
Due: lint, typecheck, unit-tests
