Repository ezmode-games/rafters: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, unit-tests

lefthook.yml:

# Pre-commit hook: Fast checks (target <30s)
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: pnpm biome check --write {staged_files} || [ $? -eq 1 ]
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    unit-tests:
      glob: "*.{ts,tsx}"
      run: |
        packages=$(echo "{staged_files}" | tr ' ' '\n' | \
          grep -E '^(apps|packages)/' | \
          sed 's|^\(apps/[^/]*\).*|\1|; s|^\(packages/[^/]*\).*|\1|' | \
          sort -u)

        if [ -z "$packages" ]; then
          echo "No workspace packages changed"
          exit 0
        fi

        echo "Testing packages:"
        echo "$packages" | sed 's/^/  - /'

        for pkg_path in $packages; do
          pkg_name=$(grep -oP '"name":\s*"\K[^"]+' "$pkg_path/package.json" 2>/dev/null)
          if [ -n "$pkg_name" ]; then
            echo "Running tests for $pkg_name..."
            pnpm --filter "$pkg_name" test:unit --run || exit 1
          fi
        done

# Pre-push hook: Full validation (target <5min)
pre-push:
  parallel: false
  commands:
    preflight:
      run: pnpm preflight

chore: bump version to 0.0.39, update changelog
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: lint

fix(mcp): include persisted state and output file paths in tool responses
  packages/cli/src/mcp/tools.ts
Due: lint, typecheck, unit-tests

refactor(mcp): consistent persisted state, relative output paths
  packages/cli/src/mcp/tools.ts
Due: lint, typecheck, unit-tests

fix(mcp): add persisted state to reset action response
  packages/cli/src/mcp/tools.ts
Due: lint, typecheck, unit-tests

fix(mcp): review fixes for semantic cascade
  packages/cli/src/mcp/tools.ts
Due: lint, typecheck, unit-tests

feat(mcp): semantic cascade on onboard map (#1152)
  nimbalyst-local/plans/semantic-cascade-on-onboard.md
  packages/cli/CHANGELOG.md
  packages/cli/src/mcp/tools.ts
Due: lint, typecheck, unit-tests

feat(ui): Grid auto-scales gap and padding via container queries (#1153)
  packages/cli/package.json
  packages/ui/src/components/ui/grid.astro
  packages/ui/src/components/ui/grid.classes.ts
  packages/ui/src/components/ui/grid.tsx
Due: lint, typecheck, unit-tests

chore: bump version to 0.0.41
  packages/cli/package.json
Due: lint

chore: bump version to 0.0.41 (#1155)
  packages/cli/package.json
Due: lint

feat(tokens): composite typography generator -- one token per role (#1163)
  packages/design-tokens/src/generators/index.ts
  packages/design-tokens/src/generators/typography-composite.ts
Due: lint, typecheck, unit-tests

feat(tokens): Tailwind v4 exporter generates @utility classes from typography composites (#1164)
  packages/design-tokens/src/exporters/tailwind.ts
Due: lint, typecheck, unit-tests

feat(tokens): element-level typography override system with why-gate (#1165)
  packages/design-tokens/src/exporters/tailwind.ts
  packages/design-tokens/src/registry.ts
  packages/shared/src/types.ts
Due: lint, typecheck, unit-tests

feat(ui): migrate all component typography to semantic role utilities (#1166)
  packages/ui/src/components/ui/accordion.classes.ts
  packages/ui/src/components/ui/alert-dialog.classes.ts
  packages/ui/src/components/ui/alert.classes.ts
  packages/ui/src/components/ui/badge.classes.ts
  packages/ui/src/components/ui/breadcrumb.classes.ts
  packages/ui/src/components/ui/button.classes.ts
  packages/ui/src/components/ui/card.classes.ts
  packages/ui/src/components/ui/command.classes.ts
  packages/ui/src/components/ui/context-menu.classes.ts
  packages/ui/src/components/ui/dialog.classes.ts
  packages/ui/src/components/ui/dropdown-menu.classes.ts
  packages/ui/src/components/ui/empty.classes.ts
  packages/ui/src/components/ui/input.classes.ts
  packages/ui/src/components/ui/item.classes.ts
  packages/ui/src/components/ui/kbd.classes.ts
  packages/ui/src/components/ui/label.classes.ts
  packages/ui/src/components/ui/menubar.classes.ts
  packages/ui/src/components/ui/navigation-menu.classes.ts
  packages/ui/src/components/ui/pagination.classes.ts
  packages/ui/src/components/ui/select.classes.ts
  packages/ui/src/components/ui/sheet.classes.ts
  packages/ui/src/components/ui/sidebar.classes.ts
  packages/ui/src/components/ui/table.classes.ts
  packages/ui/src/components/ui/tabs.classes.ts
  packages/ui/src/components/ui/textarea.classes.ts
  packages/ui/src/components/ui/toggle-group.classes.ts
  packages/ui/src/components/ui/toggle.classes.ts
  packages/ui/src/components/ui/tooltip.classes.ts
  packages/ui/src/components/ui/typography.classes.ts
  packages/ui/test/components/alert.test.tsx
  packages/ui/test/components/badge.test.tsx
  packages/ui/test/components/breadcrumb.test.tsx
  packages/ui/test/components/card.test.tsx
  packages/ui/test/components/empty.test.tsx
  packages/ui/test/components/item.test.tsx
  packages/ui/test/components/kbd.test.tsx
  packages/ui/test/components/label.test.tsx
  packages/ui/test/components/sheet.test.tsx
  packages/ui/test/components/typography.test.tsx
Due: lint, typecheck, unit-tests

feat(tokens): WCAG 2.2 AA and Section 508 typography accessibility constraints (#1167)
  packages/design-tokens/src/generators/typography-composite.ts
  packages/design-tokens/src/registry.ts
  packages/design-tokens/src/validators/typography-a11y.ts
Due: lint, typecheck, unit-tests

feat(tokens): element-level typography override system with why-gate (#1165) (#1172)
  packages/design-tokens/src/exporters/tailwind.ts
  packages/design-tokens/src/registry.ts
  packages/shared/src/types.ts
Due: lint, typecheck, unit-tests

fix(tailwind): remove double-prefix on spacing and radius :root custom properties
  packages/design-tokens/src/exporters/tailwind.ts
Due: lint, typecheck, unit-tests

chore: bump version to 0.0.42
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: lint

chore: bump version to 0.0.42 (#1178)
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: lint

feat(ui): astro typography tag components with token-level props
  packages/ui/src/components/ui/typography-abbr.astro
  packages/ui/src/components/ui/typography-blockquote.astro
  packages/ui/src/components/ui/typography-code.astro
  packages/ui/src/components/ui/typography-codeblock.astro
  packages/ui/src/components/ui/typography-h1.astro
  packages/ui/src/components/ui/typography-h2.astro
  packages/ui/src/components/ui/typography-h3.astro
  packages/ui/src/components/ui/typography-h4.astro
  packages/ui/src/components/ui/typography-h5.astro
  packages/ui/src/components/ui/typography-h6.astro
  packages/ui/src/components/ui/typography-mark.astro
  packages/ui/src/components/ui/typography-p.astro
  packages/ui/src/components/ui/typography-small.astro
  packages/ui/src/components/ui/typography.astro
  packages/ui/src/components/ui/typography.classes.ts
  packages/ui/src/components/ui/typography.tsx
Due: lint, typecheck, unit-tests

fix(cli): create palette position tokens when map enriches a color
  packages/cli/src/mcp/tools.ts
Due: lint, typecheck, unit-tests

chore: bump version to 0.0.43 (#1179)
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: lint

chore: bump version to 0.0.44
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: lint

feat: rafters Claude Code plugin with design intelligence enforcement
  plugin/.claude-plugin/plugin.json
  plugin/hooks/hooks.json
  plugin/hooks/pre-edit.sh
  plugin/skills/rafters-frontend/SKILL.md
Due: lint

feat: add marketplace.json for plugin distribution from GitHub
  marketplace.json
Due: lint

fix: move marketplace.json to .claude-plugin/ for correct plugin distribution
  .claude-plugin/marketplace.json
  marketplace.json
Due: lint

feat(registry): bundle sub-components and resolve shared files from imports (#1182)
  apps/registry/src/lib/registry/componentService.ts
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: lint, typecheck, unit-tests

fix(tailwind): radius @theme vars cascade from radius-base
  packages/cli/CHANGELOG.md
  packages/design-tokens/src/exporters/tailwind.ts
Due: lint, typecheck, unit-tests

chore: bump version to 0.0.46 for radius cascade fix
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: lint

fix(plugin): block class/className on Rafters components, enforce token props (#1183)
  plugin/hooks/pre-edit.sh
Due: none

fix(tailwind): radius cascade from radius-base via var() references (#1184)
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/design-tokens/src/exporters/tailwind.ts
Due: lint, typecheck, unit-tests

feat(ui): Container auto edge padding via container queries
  packages/ui/src/components/ui/container.astro
  packages/ui/src/components/ui/container.classes.ts
  packages/ui/src/components/ui/container.tsx
  plugin/hooks/pre-edit.sh
Due: lint, typecheck, unit-tests

feat(ui): Container auto edge padding via container queries (#1185)
  packages/ui/src/components/ui/container.astro
  packages/ui/src/components/ui/container.classes.ts
  packages/ui/src/components/ui/container.tsx
  plugin/hooks/pre-edit.sh
Due: lint, typecheck, unit-tests

feat(ui): add primary background option to Container
  packages/ui/src/components/ui/container.classes.ts
Due: lint, typecheck, unit-tests

feat(ui): add align/transform token props, fix color pass-through
  packages/ui/src/components/ui/typography-abbr.astro
  packages/ui/src/components/ui/typography-blockquote.astro
  packages/ui/src/components/ui/typography-code.astro
  packages/ui/src/components/ui/typography-h1.astro
  packages/ui/src/components/ui/typography-h2.astro
  packages/ui/src/components/ui/typography-h3.astro
  packages/ui/src/components/ui/typography-h4.astro
  packages/ui/src/components/ui/typography-h5.astro
  packages/ui/src/components/ui/typography-h6.astro
  packages/ui/src/components/ui/typography-mark.astro
  packages/ui/src/components/ui/typography-p.astro
  packages/ui/src/components/ui/typography-small.astro
  packages/ui/src/components/ui/typography.astro
  packages/ui/src/components/ui/typography.classes.ts
  packages/ui/test/components/typography.test.tsx
Due: lint, typecheck, unit-tests

feat(ui): background prop on Card and all sub-components
  packages/ui/src/components/ui/card-action.astro
  packages/ui/src/components/ui/card-content.astro
  packages/ui/src/components/ui/card-description.astro
  packages/ui/src/components/ui/card-footer.astro
  packages/ui/src/components/ui/card-header.astro
  packages/ui/src/components/ui/card-title.astro
  packages/ui/src/components/ui/card.astro
  packages/ui/src/components/ui/card.classes.ts
Due: lint, typecheck, unit-tests

feat(ui): CardHeader flush prop for edge-to-edge images
  packages/ui/src/components/ui/card-header.astro
  packages/ui/src/components/ui/card.classes.ts
Due: lint, typecheck, unit-tests
