Repository ezmode-games/rafters: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, unit-tests

lint:
  run: pnpm biome check --write {staged_files} || [ $? -eq 1 ]
  stage_fixed: true

typecheck:
  run: pnpm typecheck

unit-tests:
  run: "packages=$(echo \"{staged_files}\" | tr ' ' '\\n' | \\\n  grep -E '^(apps|packages)/' | \\\n  sed 's|^\\(apps/[^/]*\\).*|\\1|; s|^\\(packages/[^/]*\\).*|\\1|' | \\\n  sort -u)\n\nif [ -z \"$packages\" ]; then\n  echo \"No workspace packages changed\"\n  exit 0\nfi\n\necho \"Testing packages:\"
  ...

fix(color-utils): restore original power-curve scale generation
  apps/demo/src/components/ui/color-inspector.tsx
  apps/demo/src/fixtures/indigo-color-system.json
  packages/color-utils/src/harmony.ts
  packages/shared/test/fixtures/indigo-color-system.json
  packages/ui/src/components/ui/color-inspector.tsx
  scripts/generate-color-fixture.ts
Due: lint, typecheck, unit-tests

fix(color-utils): gamut-clamp semantic colors and redesign inspector (#973)
  apps/demo/src/components/demos/ColorInspectorDemo.tsx
  apps/demo/src/components/ui/color-inspector.tsx
  apps/demo/src/fixtures/indigo-color-system.json
  packages/color-utils/src/harmony.ts
  packages/shared/test/fixtures/indigo-color-system.json
  packages/ui/test/components/color-inspector.test.tsx
  scripts/generate-color-fixture.ts
Due: lint, typecheck, unit-tests

feat(oklch-gamut): add findMaxChroma and perceptual hue warp functions
  packages/ui/src/primitives/oklch-gamut.ts
  packages/ui/test/primitives/oklch-gamut.test.ts
Due: lint, typecheck, unit-tests

fix(color-area): clamp fade alpha to avoid negative values at boundary
  packages/ui/src/primitives/color-area.ts
Due: lint, typecheck, unit-tests

feat(hue-bar): add vivid peak-chroma rendering mode (#979)
  packages/ui/src/primitives/hue-bar.ts
  packages/ui/test/primitives/hue-bar.test.ts
Due: lint, typecheck, unit-tests

feat(color-area): add gamut edge fading and CSS-pixel rendering (#980)
  packages/ui/src/primitives/color-area.ts
Due: lint, typecheck, unit-tests

feat: upgrade to Vite 8 (Rolldown) and Vitest 4.1
  apps/api/viteest.config.cloudflare.ts
  apps/api/vitest.config.ts
  packages/composites/package.json
  packages/composites/tsconfig.json
  packages/studio/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: lint, typecheck, unit-tests

chore: document dangerouslyIgnoreUnhandledErrors rationale
  apps/api/vitest.config.ts
Due: lint, typecheck, unit-tests

chore: fix vitest config filename typo and remove redundant comment
  apps/api/vitest.config.cloudflare.ts
Due: lint, typecheck, unit-tests

feat(ui): add Astro component set - static tier
  packages/ui/src/components/ui/badge.astro
  packages/ui/src/components/ui/button.astro
  packages/ui/src/components/ui/card-action.astro
  packages/ui/src/components/ui/card-content.astro
  packages/ui/src/components/ui/card-description.astro
  packages/ui/src/components/ui/card-footer.astro
  packages/ui/src/components/ui/card-header.astro
  packages/ui/src/components/ui/card-title.astro
  packages/ui/src/components/ui/card.astro
  packages/ui/src/components/ui/separator.astro
  packages/ui/src/components/ui/skeleton.astro
Due: none

fix(ui): format card.astro and separator.astro for biome
  packages/ui/src/components/ui/card.astro
  packages/ui/src/components/ui/separator.astro
Due: none

feat(cli): framework-aware file routing for rafters add (#983)
  apps/website/src/lib/registry/componentService.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/detect.ts
  packages/cli/test/commands/add-framework-select.test.ts
  packages/cli/test/utils/framework-target.test.ts
Due: lint, typecheck, unit-tests

feat(cli): framework-aware file routing for rafters add (#993)
  apps/website/src/lib/registry/componentService.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/detect.ts
  packages/cli/test/commands/add-framework-select.test.ts
  packages/cli/test/utils/framework-target.test.ts
Due: lint, typecheck, unit-tests

chore(cli): bump to v0.0.15
  packages/cli/package.json
Due: lint

fix(cli): save config exports when config file is missing (#994)
  packages/cli/src/commands/init.ts
Due: lint, typecheck, unit-tests

chore(cli): bump to v0.0.16
  packages/cli/package.json
Due: lint

fix(cli): MCP server discovers project root instead of using cwd (#1011)
  packages/cli/src/commands/mcp.ts
  packages/cli/src/index.ts
  packages/cli/src/mcp/server.ts
  packages/cli/src/mcp/tools.ts
  packages/cli/src/utils/discover.test.ts
  packages/cli/src/utils/discover.ts
Due: lint, typecheck, unit-tests

refactor(cli): simplify MCP tool handler after review
  packages/cli/src/mcp/tools.ts
Due: lint, typecheck, unit-tests

fix(cli): validate --project-root flag and improve error clarity
  packages/cli/src/commands/mcp.ts
Due: lint, typecheck, unit-tests

docs: test signed commit with -S flag
  README.md
Due: none

fix(cli): MCP server discovers project root instead of using cwd (#1012)
  packages/cli/src/commands/mcp.ts
  packages/cli/src/index.ts
  packages/cli/src/mcp/server.ts
  packages/cli/src/mcp/tools.ts
  packages/cli/src/utils/discover.test.ts
  packages/cli/src/utils/discover.ts
  packages/cli/test/mcp/tools.test.ts
Due: lint, typecheck, unit-tests

test(cli): add integration tests for init, MCP tools, config, and discovery
  packages/cli/test/integration/config-roundtrip.integration.test.ts
  packages/cli/test/integration/discover.integration.test.ts
  packages/cli/test/integration/helpers.ts
  packages/cli/test/integration/init.integration.test.ts
  packages/cli/test/integration/mcp-server.integration.test.ts
Due: lint, typecheck, unit-tests

fix(registry): exclude shared auxiliary files from component primitives list (#1014)
  apps/website/src/lib/registry/componentService.ts
Due: lint, typecheck, unit-tests

style(cli): fix Biome import ordering and formatting in integration tests
  packages/cli/test/integration/config-roundtrip.integration.test.ts
  packages/cli/test/integration/discover.integration.test.ts
  packages/cli/test/integration/helpers.ts
  packages/cli/test/integration/init.integration.test.ts
  packages/cli/test/integration/mcp-server.integration.test.ts
Due: lint, typecheck, unit-tests

style(cli): fix Biome formatting in integration vitest config
  packages/cli/vitest.integration.config.ts
Due: lint, typecheck, unit-tests

test(cli): add integration tests for init, MCP tools, config, and discovery (#1013)
  package.json
  packages/cli/package.json
  packages/cli/test/integration/config-roundtrip.integration.test.ts
  packages/cli/test/integration/discover.integration.test.ts
  packages/cli/test/integration/helpers.ts
  packages/cli/test/integration/init.integration.test.ts
  packages/cli/test/integration/mcp-server.integration.test.ts
  packages/cli/vitest.config.ts
  packages/cli/vitest.integration.config.ts
Due: lint, typecheck, unit-tests

style(ui): fix Biome formatting in logo component
  packages/ui/src/components/ui/logo.tsx
Due: lint, typecheck, unit-tests

feat(ui): implement graph core primitive - base rendering engine
  packages/ui/src/primitives/graph.test.ts
  packages/ui/src/primitives/graph.ts
Due: lint, typecheck, unit-tests

chore(cli): bump to v0.0.17 (#1015)
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: lint

fix(ci): add npm registry auth to release workflow
  .github/workflows/release.yml
Due: none

chore(cli): bump to v0.0.18
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: lint

chore(cli): bump to v0.0.19
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: lint

fix(ui): resolve strict null checks in graph primitive
  packages/ui/src/primitives/graph.ts
Due: lint, typecheck, unit-tests

refactor(editor): extract BaseBlock to types.ts, add serializer singleton
  packages/ui/src/components/ui/editor.tsx
  packages/ui/src/index.ts
  packages/ui/src/primitives/serializer.ts
  packages/ui/src/primitives/types.ts
Due: lint, typecheck, unit-tests

fix(cli): filter test assertions by framework target in add.spec.ts
  packages/cli/test/commands/add.spec.ts
Due: lint, typecheck, unit-tests

feat(ui): implement graph core primitive - base rendering engine (#1018)
  packages/ui/src/primitives/graph.test.ts
  packages/ui/src/primitives/graph.ts
Due: lint, typecheck, unit-tests

docs(registry): add README with build and deploy instructions (#1031)
  apps/registry/README.md
Due: none

chore(registry): add wrangler dev dependency
  apps/registry/package.json
Due: lint

feat(editor): serializer interface and JSON adapter (#1036)
  apps/registry/package.json
  packages/cli/test/commands/add.spec.ts
  packages/ui/src/components/ui/editor.tsx
  packages/ui/src/index.ts
  packages/ui/src/primitives/serializer.test.ts
  packages/ui/src/primitives/serializer.ts
  packages/ui/src/primitives/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, typecheck, unit-tests

feat(editor): add MDX serializer with micromark/mdast (#1035)
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/primitives/serializer-mdx.test.ts
  packages/ui/src/primitives/serializer-mdx.ts
  pnpm-lock.yaml
Due: lint, typecheck, unit-tests

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
  unit-tests: any of: *.{ts,tsx}
